<div class="row">
  <label class="col-5 col-form-label col-form-label-sm text-end">Багет</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <button class="btn btn-outline-secondary" type="button" (click)="triggerModal(bagetData)"><i
        class="bi bi-plus-lg"></i></button>
      <input type="text" class="form-control" disabled [value]="modalResult">
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-trash"></i></button>
    </div>
  </div>
</div>

<ng-template #bagetData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Angular Bootstrap Modal Popup</h4>
    <button type="button" class="close">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <button type="button" class="btn btn-primary" (click)="setModalResult('bag1')">Baget 1</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="setModalResult('bag2')">Baget 2</button>
    </p>
  </div>
</ng-template>
