<div class="row">
  <label class="col-5 col-form-label col-form-label-sm text-end">Багет</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <button class="btn btn-outline-secondary" type="button" (click)="triggerModal(bagetTemplate)"><i
        class="bi bi-plus-lg"></i></button>
      <input type="text" class="form-control" disabled [value]="modalResult">
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-trash"></i></button>
    </div>
  </div>
</div>

<ng-template #bagetTemplate let-modal>
  <div class="container p-2">
      <div class="card mb-2" (click)="setModalResult('num1')">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle text-muted">Subtitle</h6>
          <img src="assets/frame.jpg" class="card-img-top" alt="sample">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur
            assumenda consequatur.</p>
        </div>
      </div>
      <div class="card mb-2" (click)="setModalResult('num2')">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle text-muted">Subtitle</h6>
          <img src="assets/frame.jpg" class="card-img-top" alt="sample">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur
            assumenda consequatur.</p>
        </div>
      </div>
  </div>
</ng-template>
