<div [formGroup]="sizeSelectorForm">
  <div class="row">
    <span class="col-5 d-xs-none"></span>
    <div class="col-lg-7 col-sm-12 text-lg-center text-end mb-2">
      <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               id="inner"
               value="inner"
               formControlName="sizeType"
        >
        <label class="form-check-label" for="inner">Внутренний</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               id="outer"
               value="outer"
               formControlName="sizeType"
        >
        <label class="form-check-label" for="outer">Внешний</label>
      </div>
    </div>

  </div>
  <div class="row">
    <label class="col-5 col-form-label col-form-label-sm text-end">Размер рамы</label>
    <div class="col-7">
      <div class="input-group input-group-sm mb-2">
        <span class="input-group-text">Ш:</span>
        <input type="number"
               class="form-control"
               formControlName="width"
        >
        <span class="input-group-text">В:</span>
        <input type="number"
               class="form-control"
               formControlName="height"
        >
        <span class="input-group-text">см.</span>
      </div>
    </div>
  </div>
</div>
