<div *ngIf="extrasSelectorForm" [formGroup]="extrasSelectorForm">
  <div class="row" *ngFor="let extra of extrasRef$ | async; index as i">
    <label class="col-8 col-form-label col-form-label-sm text-end" for="{{extra.id}}">{{extra.article}}</label>
    <div class="col p-1">
      <div class="input-group input-group-sm form-switch mb-2">
        <input type="checkbox"
               class="form-check-input"
               id="{{extra.id}}"
               formControlName="f_{{i + 1}}">
      </div>
    </div>
  </div>
</div>
