.card {
  &:hover {
    transform: scaleX(1.005);
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    background-color: #f7f9fd;
  }
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
