<!--Размер изображения-->
<div class="row">
  <label class="col-5 col-form-label col-form-label-sm text-end">Размер картины</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <span class="input-group-text">Ш:</span>
      <input type="number" class="form-control">
      <span class="input-group-text">В:</span>
      <input type="number" class="form-control">
      <span class="input-group-text">см.</span>
    </div>
  </div>

  <!--Размер по раме-->
  <label class="col-5 col-form-label col-form-label-sm text-end">Размер по раме</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <span class="input-group-text">Ш:</span>
      <input type="number" class="form-control">
      <span class="input-group-text">В:</span>
      <input type="number" class="form-control">
      <span class="input-group-text">см.</span>
    </div>
  </div>
</div>

<hr class="mt-2 mb-3">

<!--Багет-->
<app-add-baget></app-add-baget>

<div class="row">
  <!--Паспарту 1-->
  <label class="col-5 col-form-label col-form-label-sm text-end">Паспарту 1</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-plus-lg"></i></button>
      <input type="text" class="form-control" disabled>
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-trash"></i></button>
    </div>
  </div>

  <!--Паспарту 2-->
  <label class="col-5 col-form-label col-form-label-sm text-end">Паспарту 2</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-plus-lg"></i></button>
      <input type="text" class="form-control" disabled>
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-trash"></i></button>
    </div>
  </div>

  <!--Паспарту 3-->
  <label class="col-5 col-form-label col-form-label-sm text-end">Паспарту 3</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-plus-lg"></i></button>
      <input type="text" class="form-control" disabled>
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-trash"></i></button>
    </div>
  </div>

  <hr class="mt-2 mb-3">

  <!--Стекло-->
  <label class="col-5 col-form-label col-form-label-sm text-end">Стекло:</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <select class="form-select">
        <option selected>Стандартное</option>
        <option>Необычное</option>
        <option>Пластик</option>
      </select>
    </div>
  </div>

  <!--Задник-->
  <label class="col-5 col-form-label col-form-label-sm text-end">Задник</label>
  <div class="col-7">
    <div class="input-group input-group-sm mb-2">
      <select class="form-select">
        <option selected>Картон</option>
        <option>Бетон</option>
        <option>Протон</option>
        <option>Нейтрон</option>
      </select>
    </div>
  </div>

  <hr class="mt-2 mb-3">

  <!--Оформление в раму-->
  <label class="col-8 col-form-label col-form-label-sm text-end">Оформление в раму</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--Натяжка вышивки, холста-->
  <label class="col-8 col-form-label col-form-label-sm text-end">Натяжка вышивки, холста</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--Оформление алмазной вышивки-->
  <label class="col-8 col-form-label col-form-label-sm text-end">Алмазная вышивка</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--Дополнительное усиление углов-->
  <label class="col-8 col-form-label col-form-label-sm text-end">Доп. усиление углов</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--Дополнительные крепления-->
  <label class="col-8 col-form-label col-form-label-sm text-end">Доп. крепления</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--Дополнительный картон-->
  <label class="col-8 col-form-label col-form-label-sm text-end">Доп. картон</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--МДФ ножка-->
  <label class="col-8 col-form-label col-form-label-sm text-end">МДФ ножка</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <!--МДФ задник-->
  <label class="col-8 col-form-label col-form-label-sm text-end">МДФ задник</label>
  <div class="col p-1">
    <div class="input-group input-group-sm form-switch mb-2">
      <input type="checkbox" class="form-check-input">
    </div>
  </div>

  <hr class="mt-2 mb-3">
</div>

<!--Формат рамы-->
<div class="row mt-1">
  <div class="col">
    <div class="card">
      <div class="card-header form-control-sm">Формат рамы</div>
      <div class="card-body">
        <div class="form-check form-check-inline form-control-sm">
          <input class="form-check-input" type="radio" name="frameFormat" id="horizontal">
          <label class="form-check-label" for="horizontal">Горизонтально</label>
        </div>
        <div class="form-check form-check-inline form-control-sm">
          <input class="form-check-input" type="radio" name="frameFormat" id="vertical">
          <label class="form-check-label" for="vertical">Вертикально</label>
        </div>
        <div class="form-check form-check-inline form-control-sm">
          <input class="form-check-input" type="radio" name="frameFormat" id="podves">
          <label class="form-check-label" for="podves">Подвесы в комплекте</label>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Комментарий к заказу-->
<div class="row mt-3">
  <div class="col">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Оставьте комментарий здесь" id="floatingTextarea"
                style="height: 100px"></textarea>
      <label for="floatingTextarea">Комментарий к заказу</label>
    </div>
  </div>
</div>
